{erl_opts, [{parse_transform, lager_transform}]}.
%{erl_opts, [debug_info, warnings_as_errors]}.

%{lib_dirs, ["deps"]}.
{eunit_opts, [verbose]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}},
        {ppool, ".*", {git, "git://github.com/refactor/ppool.git", "master"}},
        {geo_utils, ".*", {git, "git://github.com/refactor/geo_utils.git", "master"}}
       ]}.
